/*
  _______   ______   ___   ____ ____      _    ____  _   ___   __
 |_   _\ \ / /  _ \ / _ \ / ___|  _ \    / \  |  _ \| | | \ \ / /
   | |  \ V /| |_) | | | | |  _| |_) |  / _ \ | |_) | |_| |\ V / 
   | |   | | |  __/| |_| | |_| |  _ <  / ___ \|  __/|  _  | | |  
   |_|   |_| |_|    \___/ \____|_| \_\/_/   \_\_|   |_| |_| |_|  
                                                                           
 */

 .body-text {
  float: left;
  width: 100%;
  font-family: $font-2;
  font-size: 1rem;
  line-height: 145%;

  @include mq(jumbo) {

  }
  
  @include mq(xl) {
  
  }
  
  @include mq(lg) {
  
  }
  
  @include mq(md) {
    font-size: 2.8rem;
  }

  @include mq(sm) {
    font-size: 2.8rem;
  }
}